# App
APP_ENV=development
APP_PORT=8080

# Database
DB_HOST=postgres
DB_PORT=5432
DB_USER=bunchat
DB_PASSWORD=bunchat_dev
DB_NAME=bunchat_dev

# Redis
REDIS_URL=redis://redis:6379

# JWT
JWT_SECRET=your-secret-key-min-32-chars

# Domain
APP_FQDN=localhost:3000
